* {
  font-family: "popins";
  margin: 0;
  padding: 0;
  color: #ecd9c6 !important;


}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;

  scrollbar-width: thin;
  background-color: #1c3423;
  background-image: linear-gradient(#1c3423, #060b08);


}

/* navigation bar */


/* .nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  background-color: #192e1f;
  font-weight: 900;
  z-index: 10;
} */

/* .nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  /* background-color: #1c3322; */
/* background-color: #192e1f;
  font-weight: 900;
  z-index: 10; 
} */
.nav {

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  /* background-color: #1c3322; */
  background-color: #192e1f;
  font-weight: 900;
  z-index: 10;
}

#ioicon {
  display: none;
}

.nav-item:hover {
  color: #60b178 !important;
}

.dropdown-item:hover {
  color: #2d2d2d;
}

.logo_g19_svg {
  position: relative;
  left: -1.8rem;
  height: 6.625rem;
  top: 0.125rem;
}

.tag-line {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -166px;
}


.tag-line h2 {
  margin: 2px;
  font-weight: 300;
  word-spacing: 10px;
}

.tag-line h4 {
  margin: 2px;
  font-weight: 100;
  word-spacing: 5px;
}

.img_logo a {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  margin-left: -66px;
  text-decoration: none;

}

.img_logo {
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

/* nav ancors */

.nav_bar a {
  margin-left: 16px;
  margin-right: 32px;
  color: rgb(255, 255, 255);
}

.nav-item {
  text-decoration: none;
  transition: all 0.4s;
}

.marg_r_cus {
  margin-right: 0;
}




.slider {
  /* background-color: green; */
  width: 97%;
  height: 400px;

  margin-top: 63px;
  margin: 63px 25px 63px 25px;
  border-radius: 8px;
  /* margin: 63px; */
}

.flex_box {
  display: flex;
  align-items: center;
  margin-right: -20rem;
  /* margin-left: 365px; */
}

/* Add FontAwesome for the hamburger icon */

/* Styles for the navigation bar */
.nav_bar {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

/* Styles for the sidebar */
/* Styles for the navigation bar */
.nav_bar {
  display: flex;
  justify-content: space-between;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

/* Styles for the sidebar */
.sidebar_sidepanel {
  height: 540px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #192e1f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  -webkit-box-shadow: inset 5px 0px 0px 0px rgb(255, 255, 255);
  -moz-box-shadow: inset 5px 0px 0px 0px rgb(255, 255, 255);
  box-shadow: inset 5px 0px 0px 0px rgb(255, 255, 255);
}

.sidebar_sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  /* margin-left: 8px; */
}

.sidebar_sidepanel a:hover {
  color: #f1f1f1;
}

.sidebar_sidepanel .closebtn {
  position: absolute;
  top: 13px;
  right: 50px;

  /* top: 0;
  right: 25px; */
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  display: none;
}






/* DROPDOWN MENU */
.dropbtn {
  background-color: #192e1f;
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #192e1f;
  min-width: 389px;
  box-shadow: 3px 11px 14px 0px rgb(0, 0, 0);
  z-index: 1;
  bottom: -304px;
  left: -124px;
  border-radius: 22px;
  padding-bottom: 28px;
  padding-top: 28px;



}

.drop-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px 12px;

}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px;
  text-decoration: none;
  display: block;
  font-size: 1.22rem;
  font-weight: 100;
  line-height: 18px;
  word-spacing: 3px;
  margin-right: 0;
  margin-left: 32px;
}

.dropdown-content a:hover {
  width: 277px;
  background-color: rgba(38, 66, 36, 0.836);
  border-radius: 12px;
  box-shadow: 4px 4px 0.5rem 2px rgb(128, 127, 127 / 23%);
}

.dropdown:hover .dropdown-content {
  display: block;
}






.section_0 {
  width: auto;
  height: auto;
  background-image: url(img/hghg.jpg);
  width: 100%;
  box-shadow: inset 0px 0px 14px 6px rgb(0, 0, 0);
}



.bg_img_for_abus {
  width: 100%;
  height: 100%;
}

.section_0 h2 {
  font-size: 2.89rem;
}





.about_us_p {


  /* margin: 80px; */
  padding: 120px 0;
  width: 84%;
  /* width: 1667px; */
  height: 226px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #02140100;
  padding-left: 120px;


}


.heading_1 {
  font-size: 62px;
  line-height: 80px;
  width: 100%;
  margin: -20px 0 0 0;
  margin-top: 46px;
}


.abt_us_n {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
  margin: 0 0px 0 148px;
  margin-top: 16px;
}

.abt_us_n h1 {

  text-align: center;
  width: 100%;
  margin-top: 114px;
  margin-bottom: 100px;
  background-color: #122016;
  padding: 24px;
  background: rgb(25 46 31);
  backdrop-filter: blur(4px);
  box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);

}




.abt_us_n p {
  font-size: 1.2rem;
  word-spacing: 6px;
  line-height: 26px;
  text-align: justify;
}



.section_0 p {
  font-size: 1.89rem;
  font-weight: 200;
  line-height: 48px;
  word-spacing: 18px;
  text-align: justify !important;
  width: 100%;
}


/* CONTENT AND PARAGRAPH */
.content p {
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
  text-align: justify !important;



}




.bg_color {
  width: 38vw;
}

section img {
  width: 583.67px;
  height: 414.4px;
  border-radius: 18px;
}





.flex-box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 100px 0 100px;
  height: 80vh;

}



.flex-box_cnt_left {
  width: 583.66px;
  height: 414.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* margin-right: 100px; */
  /* margin-left: 40px; */
  ;



}

.flex-box_cnt_right {
  width: 583.66px;
  height: 414.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* margin-right: 40px; */
  /* margin-left: 100px; */


}

/* heading parerts*/
h3 {
  font-size: 1.86rem;
  font-weight: 800;
  padding: 4px;
  text-align: start;
  /* margin-bottom: 3rem; */

}

.content_1 h3 {
  margin-right: 198px;
}



.content_3 h3 {
  margin-right: 304px;
}


.content_5 h3 {
  margin-right: 296px;

}

.bg_color button {
  margin: 0;
}





h2 {
  font-size: 1.9rem;
  margin: 0 28px;
  padding: 4px 0;
  line-gap-override: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;


}



.sub_head {
  align-self: baseline;
  margin: 8px 0;
  font-weight: 600;
  display: block;

  color: rgb(0, 0, 0);
  font-weight: 600;
  display: block;
  font-size: 1.09rem;


  padding: 4px;
  text-align: center;


}

.headings {

  font-weight: 600;
  display: block;
  font-size: 1.09rem;
  margin: 0 28px;
  color: rgb(255, 255, 255);
  padding: 4px;
  text-align: center;
  margin-bottom: 3rem;
}


/* BUTTON   */


.btn {
  background-color: #497e45;
  border-color: #1c3423;
  color: #1c3423;

  width: 6rem;
  height: 2rem;
  border-radius: 54px;
  padding: 4px;
  border: none;
  transition: all 0.4s;
  font-weight: 200;
  font-size: 1.04rem;
  margin-top: 24px;

}

.btn:hover {

  cursor: pointer;
  background-color: #192f1f00;
  color: #fff;


}

/* FOOTER  */

.container {
  background: #ffffff67;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.623);
  width: 520px;
  text-align: center;
  left: 35%;
  margin: 144px 0 112px 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
}





label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  text-align: left;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #6a11cb;
  outline: none;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
  color: #021401;
}

.cubtn {
  width: 100%;
  padding: 12px;
  background-color: #1b5e20;
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cubtn:hover {
  background-color: #063103;
}

/* footer  */

.footer {
  width: 100%;
  height: 32rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 20px; */
  margin: 0;
  margin-top: 80px;
  background-image: url(svg/footer_bg_img.svg);
  background-size: contain;
}

.glass_effect {
  width: 100%;
  height: 32rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}



.foot_el {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.fq {
  color: azure;
  text-decoration: none;

  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 500;
  margin: 0 20px;
}




.footer-heading {
  font-size: 1.5rem;
  margin: 20px;
}

.logo_g19_svg_f {
  width: 6rem;
  height: 6rem;
  margin: 4px;
  position: relative;
  left: -255px;
  bottom: 28px;


}



.address-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 170px;
  margin-top: 52px;


}

.asc-fotter-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

}

.item-footer {
  margin-bottom: 14px;
  text-decoration: none;

}


.contacts {
  justify-content: space-between;
  margin-left: 20px;
}



.footer_right_elements {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-links {
  text-decoration: none;
  color: #ffffff;
  line-height: 42px
}

.icons_f {
  display: flex;
  align-items: stretch;
}

.icons_f img {
  margin-right: 6px;
  color: white;
  width: 24px;
}

.social_icons {
  display: flex;
  align-items: center;


}

.social_icons img {
  margin-right: 12px;
  height: 34px;
  width: 34px;
  filter: invert(100);
}